certifi==2019.6.16
chardet==3.0.4
Click==7.0
Flask==1.0.3
idna==2.8
influxdb==5.2.2
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
peewee==3.10.0
PyMySQL==0.9.3
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
six==1.12.0
urllib3==1.25.3
Werkzeug==0.15.4
uWSGI==2.0.18
csvalidate==1.1.1
Flask-CSV==1.2.0
marshmallow==3.4.0

